# Ignore Visual Studio temporary files, build results, and Windows-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# User-specific folders
**/.vscode/
**/.idea/
**/.vs/
**/[Oo]bj/
**/[Bb]in/
**/[Dd]ebug/
**/[Rr]elease/
**/[Ll]og/
**/[Ll]ogs/
**/TestResults/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows-specific files
Desktop.ini
$RECYCLE.BIN/

# CMake
CMakeSettings.json
CMakeLists.txt.user

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Backup & temp files
*.bak
*.tmp
*.tmp.*
~$*

# DotNet Core and project files
project.lock.json
project.fragment.lock.json
artifacts/
