################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TG-TOAT/.vs/TG-TOAT/FileContentIndex/37771f8a-1a45-421d-9a1f-96d86fd38210.vsidx
