@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Web application was created by the the TG-TOAT team for our CS 3750 class</p>
<p>Our teacher is Arpit Christi</p>
<p>Our developers are:</p>
<ul>
    <li>Ivan Garcia</li>
    <li>Spencer Hobert</li>
    <li>Logan McKay</li>
    <li>Josh Morgan</li>
    <li>Scott Van Horn</li>
</ul>

