<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TG-TOAT App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">
                    <img class="nav-logo" src="~/resources/TG-TOAT Logo-Colored.png" alt="TG-TOAT Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" id="navIndex" asp-area="" asp-controller="User" asp-action="Index">
                                <i class="nav-item fa-duotone fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navCalendar" asp-area="" asp-controller="User" asp-action="Calendar">
                                <i class="fa-duotone fa-solid fa-calendar"></i>
                                Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navCourses" asp-area="" asp-controller="Course" asp-action="Courses">
                                <i class="fa-duotone fa-solid fa-graduation-cap"></i>
                                Courses
                            </a>
                        </li>

                    </ul>
                </div>
                <!--Right Side of Navbar-->
                <div class="navbar-right justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <!--Color Modes-->
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="colorMode" onclick="changeColorMode()">
                                <i id="lightMode" class="fa-solid fa-sun-bright"></i>
                                <i id="darkMode" class="fa-solid fa-moon"></i>
                            </a>
                        </li>

                        <!--Account-->
                        <li class="nav-item">
                            <a class="nav-link nav-account" href="javascript:void(0)" onclick="openAccount()">
                                <img src="@Url.Action("GetProfileImage")" alt="User Account" style="width: 30px; height: 30px; border-radius: 50%;" />
                                
                            </a>
                        </li>
                        <div id="account">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Account">
                                <i class="fa-solid fa-user"></i>
                                Edit Account
                            </a>
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        </li>
                        </div>

                        <!--Notifictions-->
                        <li class="nav-item">
                            <a id="notifBell" class="nav-link" href="javascript:void(0)" onclick="openNotif()">
                                <i class="notif fa-solid fa-bell-exclamation"></i>
                                <i class="notif fa-solid fa-bell"></i>
                                <i class="notif fa-regular fa-bell"></i>
                            </a>
                        </li>

                        <div id="notifications">
                        </div>
                    </ul>


                </div>

            </div>


        </nav>
    </header>







    <main role="main" class="pb-2">
        @RenderBody()
    </main>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TG-TOAT App - <ac lass ="extra-links" asp-area="" asp-controller="User" asp-action="Privacy">Privacy</ac>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
