@{
    ViewData["Title"] = "Upload Image";
}

<h2>Upload Image</h2>

<div>
    <h4>Current Profile Picture:</h4>
    <img src="@Url.Action("GetProfileImage", "User")" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%;" />
</div>

<form method="post" enctype="multipart/form-data">
    <label for="profileImage">Choose New Image:</label>
    <input type="file" id="profileImage" name="profileImage" accept="image/png, image/jpeg, image/jpg" />
    <br /><br />
    <button type="submit">Submit</button>
</form>
