.toast {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

h4 {
    text-align: center;
    display: inline;
    margin-right: 20px;
}

.save-btn{
    display: none;
}

select #stateSelect{
    height: 10px;
}

.pfpEdit {
    margin: auto;
    text-align: center;
    position: relative;
    

}
.linkDiv {
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

    .linkDiv a {
        padding-top: 50px;
        width: 150px;
        height: 150px;
        opacity: 0;
        border-radius: 50%;
    }

    .pfpEdit a:hover {
        opacity: 1;
        background-color: rgba(143,50,50,.5);
        border-radius: 50%;
        color: #FFBFBF;
    }

    .pfpEdit img {
        width: 150px;
        margin: auto;
        border-radius: 50%;
        display: block;
        z-index: -1;
    }

.pfpEditLink {
}


.addInput {
    margin: auto;
}

input[type="file"] {
    display: none;

}
