@model AccountViewModel

@{
    ViewData["Title"] = "Account";

    if (Model.UserRole == "Student")
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else if (Model.UserRole == "Instructor")
    {
        Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    }
}

<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
<div class="container col-md-9 justify-content-center">
    <div>
        <h4>Profile Picture</h4>
        <hr />
        <div class="container pfpEdit">
            <div class="linkDiv">
                <a class="nav-link" asp-area="" asp-controller="User" asp-action="ChangeProfilePicture">Change Profile Picture</a>
            </div>

            <img src="@Url.Action("GetProfileImage", "User")" alt="Profile Image" />
        </div>
    </div>

    <!-- User account details -->
    <form asp-action="UpdateUserName" id="userNameForm" method="post">
        <br />
        <h4>User Info</h4>
        <button type="button" id="NameEdit" class="inline btn btn-danger" onclick="editName()">Edit</button>
        <button type="submit" id="NameSave" class="save-btn inline btn btn-success" onclick="saveName()">Save</button>
        <hr />
        <div class="row justify-content-center">
                <input type="hidden" asp-for="Id" /> <!-- Include User Id for updating -->
                <div class="form-group col-md-3">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" asp-for="FirstName" class="form-control userName" disabled id="firstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-3">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control userName" disabled id="lastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
        </div>
    </form>

    <form asp-action="UpdateAdd" id="userAddForm" method="post">
        <br />
        <h4>User Address</h4>
        <button type="button" id="AddEdit" class="btn btn-danger" onclick="editAdd()">Edit</button>
        <button type="submit" id="AddSave" class="save-btn btn btn-success" onclick="saveAdd()">Save</button>
        <hr />
        <div class="container col-md-9 justify-content-center">
                <div class="form-group col-md-6 addInput">
                    <label asp-for="Address.AddOne">Address Line 1</label>
                    <input type="text" asp-for="Address.AddOne" class="form-control userAdd" disabled id="addressLineOne">
                    <span asp-validation-for="Address.AddOne" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 addInput">
                    <label asp-for="Address.AddTwo">Address Line 2</label>
                    <input type="text" asp-for="Address.AddTwo" class="form-control userAdd" disabled id="addressLineTwo">
                    <span asp-validation-for="Address.AddTwo" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 addInput">
                    <label asp-for="Address.City">City</label>
                    <input type="text" asp-for="Address.City" class="form-control userAdd" disabled id="city">
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6 addInput">
                        <label asp-for="Address.State"></label>
                            <select asp-for="Address.State" class="form-select userAdd" id="stateSelect" disabled>
                                <option value="">Select a State</option>
                            </select>
                        <span asp-validation-for="Address.State" class="text-danger"></span>
                    </div>

                <div class="form-group col-md-6 addInput">
                        <label asp-for="Address.Zip">Zip Code</label>
                    <input type="text" asp-for="Address.Zip" class="form-control userAdd" disabled id="zip">
                        <span asp-validation-for="Address.Zip" class="text-danger"></span>
                </div>

                <!-- Toast notification -->
                <div id="toast" class="toast" style="display:none;">
                    <p>Saved!</p>
                </div>

        </div>
    </form>
</div>

<script src="~/js/account.js" asp-append-version="true"></script>
