@model TGTOAT.Models.User
@*TGTOAT.Models.UserHome*@

@{
    ViewData["Title"] = "Home";

    if(Model.UserRole == "Student")
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else if (Model.UserRole == "Instructor")
    {
        Layout = "~/Views/Shared/_InstructorLayout.cshtml";
    }
    else
    {
        <p>Model</p>
    }
}

<h1>Welcome, @Model.FirstName @Model.LastName, @Model.UserRole</h1>

<!-- Wrap everything inside a Bootstrap row -->
<div class="row">
    

    <!-- Cards and To-do list container -->
    <div class="col-md-12">
        <div class="row">
            <!-- Cards column -->
            <div class="col-md-10 card-container">
                <!-- Card 1 -->
                <div class="card">
                    <a href="" class="class-link">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info">CS 1010 - WOC - Fall 2024 - 25085</p>
                            <p class="class-name">Introduction to Interactive Entertainment</p>
                            <p class="class-time">M-F, 3:30-5:30</p>
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card">
                    <a href="" class="class-link">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info">CS 1022 - ONL - Fall 2024 - 25065</p>
                            <p class="class-name">Software Development</p>
                            <p class="class-time">Online</p>
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card">
                    <a href="" class="class-link">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info">CS 1030 - WLC - Fall 2024 - 25097</p>
                            <p class="class-name">Foundations of Computing</p>
                            <p class="class-time">M-W-F, 3:30-5:30</p>
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="card">
                    <a href="" class="class-link">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info">CS 1400 - WLC - Fall 2024 - 22385</p>
                            <p class="class-name">Fundamentals of Programming</p>
                            <p class="class-time">M-W-F, 5:30-7:30</p>
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="card">
                    <a href="" class="class-link">
                        <img href="">
                        <div class="card-info">
                            <p class="class-info">CS 2350 - ONL - Fall 2024 - 24385</p>
                            <p class="class-name">Client Side Web Development</p>
                            <p class="class-time">Online</p>
                        </div>
                    </a>
                    <div class="card-icons">
                        <a href="#" title="Announcements"><i class="fa-solid fa-bullhorn"></i></a>
                        <a href="#" title="Assignments"><i class="fa-light fa-books"></i></a>
                        <a href="#" title="Discussions"><i class="fa-light fa-comments"></i></a>
                        <a href="#" title="Grades"><i class="fa-solid fa-award"></i></a>
                    </div>
                </div>
            </div>

            <!-- To-do list column -->
            <div class="col-md-2">
                <div class="todo">
                    <h3>To Do</h3>
                </div>
                <div class="todo-items">
                    <a href="">
                        <p class="todo-class">CS 1010</p>
                        <p class="todo-name">Quiz 3: Foundations</p>
                        <p class="todo-time">Sep 18 at 11:59pm</p>
                    </a>

                    <a href="">
                        <p class="todo-class">CS 1010</p>
                        <p class="todo-name">Exam 1: Foundations</p>
                        <p class="todo-time">Sep 20 at 11:59pm</p>
                    </a>

                    <a href="">
                        <p class="todo-class">CS 1010</p>
                        <p class="todo-name">Code 4: Java For loops</p>
                        <p class="todo-time">Sep 27 at 11:59pm</p>
                    </a>

                    <a href="">
                        <p class="todo-class">CS 1010</p>
                        <p class="todo-name">Code 5: Java Switches</p>
                        <p class="todo-time">Sep 27 at 11:59pm</p>
                    </a>

                    <a href="">
                        <p class="todo-class">CS 1010</p>
                        <p class="todo-name">Code 6: Java While loops</p>
                        <p class="todo-time">Sep 29 at 11:59pm</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}