@model MvcMovie.Models.User

@{
    ViewData["Title"] = "Logged In";
}

<h1>Welcome, @Model.FirstName @Model.LastName @Model.UserRole</h1>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}