@model AddAssignmentViewModel //hhhhh

@{
    ViewData["Title"] = "AddAssignment";

    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}


<h1>Create Assignment</h1>
<hr />
<form asp-action="AddAssignment" method="post">
    <div class="form-group">
        <label asp-for="AssignmentName">Assignment Title</label>
        <input asp-for="AssignmentName" type="text" class="form-control" id="assignmentName" name="AssignmentName" placeholder="Assignment Title" required />
    </div>

    <div class="form-group">
        <label asp-for="AssignmentDescription">Assignment Description</label>
        <input asp-for="AssignmentDescription" type="text" class="form-control" id="assignmentDescription" name="AssignmentDescription" placeholder="Assignment Description" required />
    </div>

    <div class="form-group">
        <label asp-for="AssignmentPoints">Assignment Points</label>
        <input asp-for="AssignmentPoints" type="number" class="form-control" id="assignmentPoints" name="AssignmentPoints" placeholder="Enter points" required min="0" />
    </div>

    <div class="form-group">
        <label for="DueDate">Assignment Due Date</label>
        <input for="DueDate" type="date" class="form-control" id="dueDate" name="DueDate" required />
    </div>

    <div class="form-group">
        <label for="DueTime">Assignment Due Time</label>
        <input for="DueTime" type="time" class="form-control" id="dueTime" name="DueTime" value="23:59" required/>
        <input asp-for="DueDateAndTime" type="datetime-local" class="form-control hiddenDate" id="dueDateAndTime" name="DueDateAndTime" required />
    </div>

    <div class="form-group">
        <label>Submission Type</label>
        <div>
            <input asp-for="AssignmentType" type="radio" id="textSubmission" name="AssignmentType" value="text" checked />
            <label asp-for="AssignmentType" for="textSubmission">Text</label>
        </div>
        <div>
            <input asp-for="AssignmentType" type="radio" id="fileSubmission" name="AssignmentType" value="file" />
            <label asp-for="AssignmentType" for="fileSubmission">File</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" onclick="createDue()">Submit</button>

    <button type="button" class="btn btn-secondary" onclick="window.history.back();">Cancel</button>
</form>

<script>
    var date = document.getElementById("dueDate")
    var time = document.getElementById("dueTime")
    var due = document.getElementById("dueDateAndTime")  

    function createDue() {
        due.value=(date.value + "T" + time.value)

        console.log(due.value)
    }

</script>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
